@font-face
{
    font-family: "FiraCode";
    src: url(fonts/FiraCode-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face
{
    font-family: "FiraCode";
    src: url(fonts/FiraCode-Light.ttf) format("truetype");
    font-weight: lighter;
}
@font-face
{
    font-family: "FiraCode";
    src: url(fonts/FiraCode-Medium.ttf) format("truetype");
    /* font Medium */
    font-weight: 500;
}
@font-face
{
    font-family: "FiraCode";
    src: url(fonts/FiraCode-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face
{
    font-family: "FiraCode";
    src: url(fonts/FiraCode-SemiBold.ttf) format("truetype");
    /* font Semi Bold */
    font-weight: 600;
}
.cover
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover div
{
    width: 100%;
    height: 100px;
    z-index: 1;
    background-color: #e9e9eb;
}
.page_languges
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9eb;
}

.enter_languages
{
    width: 85%;
    height: 800px;
    background-color: #ffffff;
}
.name_languages
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}
.name_languages i
{
    color: rgb(0, 186, 188);
    margin-left: 20px;
}
.name_languages p
{
    font-family: "FiraCode";
    color:#292d39;
    font-size: 17px;
    margin-left: 30px;
    cursor: pointer;
}
.name_languages .caret
{
    position: absolute;
    left: 90%;
    font-size: 22px;
}
.all_details
{
    display: flex;
}
.next_details
{
    width: 20%;
    height: 100px;
    background-color: red;
}
details
{
    transition: height 1s ease;
    overflow: hidden;
    font-family: "FiraCode";
    letter-spacing: -1px;
    box-sizing: border-box;
    padding-left: 26px;
    width: 92%;
    display: inline;
    background-color: #e9e9eb;
}

details:not([open])
{
    height: 1.25em;
    display: inline;
}

details[open]
{
    height: 8.50em;
    display: inline;
}
details p
{
    margin-top: 20px;
    color: #292d39;
    text-align: justify;
}
@media  (max-width: 582px)
{
    .name_languages .caret
{
    position: absolute;
    left: 80%;
    font-size: 22px;
}
}
